* {
  margin: 0;
  padding: 0;
}

.App {
  /* display: flex; */
  /* grid-template-areas: "head"
                       "main"
                       "footer"; */
  /* grid-template-rows: fr fr fr; */
  /* grid-template-columns: auto; */
  font-family: Karla, sans-serif;
}

.flex-grid {
  display: flex;
  /* flex: 1; */
}

h1, h2, h3, p, li, button {
  margin: 0 2rem;
  padding: 1rem 0; /* top/bottom right/left */
}

h1 {
  font-size: 64px;
  font-weight: bold;
  font-family: 'Markazi Text', sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  font-family: 'Markazi Text', sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  font-weight: normal;
}

button {
  font-size: 20px;
  font-weight: bold;
}

